<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="background-wrap">
    <div class="background"></div>
  </div>

  <form id="accesspanel" action="">
    <h1 id="litheader">Java PALIM</h1>
    <div class="inset">
      <p>
        <input type="text" name="username" autocomplete="off" [(ngModel)]="username" id="email" placeholder="username">
      </p>
      <p>
        <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">
      </p>
    </div>
    <p class="p-container">
      <input type="submit" name="Login" id="go" value="Login" (click)="doLogin()">
      <br>
      <br>
      <input type="submit" name="Register" id="re" value="Register" (click)="doRegister()">
      <br>
      <br>
    </p>
  </form>
</body>