<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="background-wrap">
        <div class="background"></div>
    </div>

    <form id="accesspanel" action="">
        <h1 id="litheader">{{'REGISTER.Sitetitle' | translate }}</h1>
        <span class="form-inline">
            <select class="form-control" #selectedLang (change)="translate.use(selectedLang.value)">
                <option *ngFor="let language of translate.getLangs()" [value]="language"
                    [selected]="language === translate.currentLang" >
                    {{ language }}
                </option>
            </select>
        </span>
        <div class="inset">
            <p>
                <input id="name" name="name" type="text" class="form-control" required minlength="3" maxlength="30"
                    ngModel name="name" #name="ngModel" placeholder="{{'REGISTER.Name' | translate}}">

                
            </p>
            <p>
                <input type="text" class="form-control" placeholder="{{'REGISTER.Email' | translate}}">
            </p>
            <p>
                <input type="text" class="form-control" placeholder="{{'REGISTER.PhoneNo' | translate}}">
            </p>
            <p>
                <input type="password" class="form-control" placeholder="{{'REGISTER.Password' | translate}}">
            </p>
            <p>
                <textarea rows="3" class="form-control" placeholder="{{'REGISTER.Bio' | translate}}"></textarea>
            </p>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label">{{'REGISTER.TermsConditions' | translate}}</label>
            </div>
        </div>
        <p class="p-container">
            <input type="submit" name="Register" id="goRegister" value="{{'REGISTER.Submit' | translate}}" (click)="doRegister()">
        </p>
        <p class="p-container">
            <input type="submit" name="ljogin" id="goLogin" value="Already a member" (click)="goToLogin()" >
        </p>
    </form>

</body>